<<<<<<< HEAD
@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
=======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> 4e1c7edac5409de2bc9fb456d43a9088b0558ae8
