@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix for hiding scrollbars but keeping functionality in the prompt area */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}